body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .banner {
    background-size: 200%;
    transition: background-size 0.5s ease;
    position: relative;
    top: 45px; 
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; /* Aligns items to the center */
    width: 139%; /* Adjusted width */
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.4);
    height: 418px !important; /* Adjust as needed */
  }
  .banner:hover {
    background-size: 200%;
}
  
  .login-form {
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.4);
    width: 100%;
    padding: 60px;
    padding-top: 10%;
    background: rgba(255, 255, 255, 0.0); /* Semi-transparent background */
    backdrop-filter: blur(10px); /* Apply blur */    
    position: absolute;
    top: 50%;
    right: 5%; /* Aligns the form to the right */
    transform: translateY(-50%); /* Centers the form vertically */
    width: 30%;
    height: 419px;

    
  }
  /* Rest of your CSS... */

.login-form h1 {
  text-align: center;
  color: #f3eeee;
  margin-bottom: 30px;
}

.login-form input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 20px;
  border: 2px solid #ccc;
}

.login-form button {
  width: 100%;
  padding: 10px;
  background: #1d90ff;
  border: 0;
  color: white;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
  }
  
  nav li {
    float: left;
  }
  
  nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav li a:hover {
    background-color: #111;
  }

  .banner {
    display: flex;
    flex-direction: column;
   
    height: 100vh; /* Takes up half of the viewport height */
    padding-left: 50px; /* Adds some space from the left edge of the page */
    padding-top: 50px; /* Adds some space from the top edge of the page */
  }
  
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
  }


  .login-form button {
    /* ...existing styles... */
    background: linear-gradient(to right, black, white);
}

.login-form button:hover {
    background: linear-gradient(to right, white, black);
}