<!-- Register Form -->


<header>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Service</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
</header>

<section class="banner">
    <h1>Welcome!</h1>
    <br>
    <h3>To My Crud Website</h3>
    <br>

    <p>A Forum type of website or somthing</p>
    <p> I dont know. For the sake of passing, asperiores O.</p>
</section>

<div class="register-form">
    <h1>Sign Up</h1>
    
        <form (ngSubmit)="register()">
            <label for="registerEmail">Email:</label><br>
            <input type="email" [(ngModel)]="registerEmail" id="registerEmail" name="registerEmail"><br>
            <label for="registerPassword">Password:</label><br>
            <input type="password" [(ngModel)]="registerPassword" id="registerPassword" name="registerPassword"><br>
            <button type="submit">Sign up</button>
        </form>

    <p>Don't have an account? <a routerLink="/login">Sign in</a></p>
</div>

<footer>
    <p>&copy; 2023 BARBACENAFinalProj Website. All rights reserved.</p>
</footer>
